@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #7660b3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b44d1;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #8158f3 #f1f1f1;
}
